Klient/Klient/Connected Services/Serwer/Gameservice3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.101:8081/Gameservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gameservice" />
  <xs:element name="Rejestruj">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nick" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejestrujResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="idz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nick" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dx" type="xs:int" />
        <xs:element minOccurs="0" name="dy" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="idzResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Gaz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nick" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dx" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GazResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Dzialaj">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nick" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dt" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DzialajResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaGraczy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaGraczyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Gameservice" minOccurs="0" name="ListaGraczyResult" nillable="true" type="q1:ArrayOfGracz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>